<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  <title>Taranjeet Singh`s Portfolio</title>

  <style>
     @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Concert+One&family=Oswald:wght@300&family=Roboto:ital,wght@1,500&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&family=Ubuntu:wght@300&family=Zen+Antique&family=Zen+Kurenaido&display=swap');
   
    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Concert+One&family=Oswald:wght@300&family=Roboto:ital,wght@1,500&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&family=Zen+Antique&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Concert+One&family=Oswald:wght@300&family=Roboto:ital,wght@1,500&family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200&family=Zen+Antique&family=Zen+Kurenaido&display=swap');
  </style>
  <style>
    
    .About{
      font-size: 20px;
    }
    div.card-body{
      overflow: scroll;
    }
    .flex-vertical {
      display: flex;
      flex-direction: column;
    }

    .card {
      height: 32rem;
      margin: 5px;
    }

    .card img {
      width: 100%;
      height: 100%;
    }



    .flex-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .flex-container2 {
      display: flex;
      box-sizing: border-box;
      justify-content: flex-start;

      flex-wrap: wrap;
    }

    .flex-container2 img {
      margin: 5px;
      height: 150px;
      width: 150px;
      margin-top: 2px;
    }
    .card-text, ul{
      font-family: 'Cabin', sans-serif;
      font-family: 'Concert One', cursive;
      color: black;

    }
    .heading{
      font-family: 'Cabin', sans-serif;
      font-family: 'Concert One', cursive;
      font-family: 'Oswald', sans-serif;
      font-family: 'Roboto', sans-serif;
      font-family: 'Source Sans Pro', sans-serif;
      font-family: 'Zen Antique', serif;
    }
    .myself{
      font-family: 'Cabin', sans-serif;
    font-family: 'Concert One', cursive;
      font-size: 100px;
      margin-top: 5rem;
    }
    .static-txt{
      font-size: 4rem;
    }

    .heading-content{
    font-family: 'Zen Antique', serif;

    }
  a{
    text-decoration: none;
  }
    body {
      background-image: url('https://wallpaperaccess.com/full/5651989.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      color: white;
    }
  </style>

</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">


      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Contact</a>
          </li>


        </ul>

      </div>
      <a class="navbar-brand">TARANJEET SINGH</a>
    </div>
  </nav>

  <div class="container">

    <!-- myself and gif section -->
    <div class="container myself">
      <img style="float: right; margin-right: -50px; margin-top: 2px;"
        src="https://media4.giphy.com/media/WtTnAfZn6aVJfBzlN3/giphy.gif" alt="this slowpoke moves" height="350"
        width="350" />
      <div style="height: 100vh; width: 100vw;">
      <h1 style=" border-bottom: 2px solid white;width: 15rem;" 
      class="myself">Hello</h1>
      <div class="static-txt">Myself Taranjeet Singh</div>
      <div class="wrapper">
        <ul class="dynamic-txts">
          <li><span>Student</span></li>
          <li><span>Web developer</span></li>
          <li><span>Programmer</span></li>
        </ul>
      </div>
    </div>
    </div>

    <hr>

    <!-- about me section -->
    <div class="container About flex-container" id="about" style="flex-wrap: nowrap;">
      <div style="margin-right: 15px; ">
        <img style="margin-right: 2px; margin-top: 70px; height: 250px; width: 250px;"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDduhSObml7i9a0w6lbBbJE11yPlYpiuJL8A&usqp=CAU"
          alt="">
      </div>
      <div style="height: 100vh; width: 100vw;">
        <h1 style="text-align: center;" class="heading">Let me introduce myself</h1>
        <div class="heading-content">
        <p> Hello!! My name is <b>Taranjeet Singh</b> .I am from <b>Delhi</b>. I am currently a student at <b>Delhi Technological University</b> 
          with specialization in <b>software engineering</b>.

          I am also a <b>Web developer</b> love to build user friendly web applications.I have worked on technologies like HTML CSS BOOTSTRAP and Node JS with MongoDB database etc.
          I am also confident about my <b>Data structures and algorithm skill</b> as I have practiced over <b>1000 problems</b>  across the platforms like <b>geeks for geeks , leetcode , interviewbit</b> etc.
          And I am also a <b> competitive programmer </b> competes on <b> codeforces</b> and <b> leetcode</b>.
        </p>
      </div>
      </div>

    </div>

    <hr>

    <!-- skills Section -->

    <div style="height: 100vh; width: 100vw;" class="container skills" id="skills">
      <h1 style="text-align: center;">skills</h1>
    
      <%let images=['../cpp.png','../CSS3.png','../html.png','../js.jpg','../matplotlib.png','../mongodb.jpg','../nodejs.png','../numpy.png','../pandas.jpg','../python.jpg','../bootstrap.jpg','../dsa.jpg','../sklearn.jpg']%>
      <div class="flex-container2 skillsImages">
      
        <% images.forEach(image=>{ %>
          <img src=<%=image%> alt="">
          
          <%})%>

      </div>


    </div>

    <hr>

    <!-- Projects Section -->
    <div style="height: 100vh; width: 100vw;" class="container Projects" id="projects">
      <h1 style="text-align: center;">Projects</h1>

      <div class="flex-container">
        <div class="card" style="width: 22rem;
        height: 35rem;">
          <img 
            src="https://wallpapercave.com/wp/wp4072652.jpg"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 style="color: black;"  class="card-title">Studdy-Buddy</h5>
            <a style="display: inline;" href="https://studdy-buddyy.herokuapp.com/" target="_blank" class="btn-sm btn-primary mt-5">Launch</a>
            <a style="display: inline;" href="https://github.com/Taranjeet105/Study-Buddy" target="_blank" rel="noopener noreferrer"><img style="    width: 30px;
            height: 30px;" 
            src="https://www.freeiconspng.com/thumbs/github-icon/git-github-hub-icon-25.png" alt=""></a> 
          
            <i> <h5 style="display: inline;"><span class="badge bg-secondary">HTML</span></h5>  <h5 style="display: inline;"><span  class="badge bg-secondary">CSS</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Bootstrap</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">JavaScript</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Node.js</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Expressjs</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">EJS</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Editor.js</span></h5><h5 style="display: inline;"><span class="badge bg-secondary">MongoDB</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Mongoose</span></h5></i>
            
            <p class="card-text">A website which provides facilities to the users to maintain their documents/study material in an organized way. 
              <ul>
                <li>User can remotely access their documents or self-maintained notes.</li>
                <li>User Friendly and responsive interface.</li>
                <li>User data is secured with login credentials.</li>
                <li>Upload PDF files.</li>
                <li>Editor is provided for manual notes.</li>
                <li>Reminders can be set to get notify through emails</li>
              </ul>
            </p>
            
          </div>
        </div>


        <div class="card" style="width: 22rem;
        height: 35rem;">
          <img  src="https://www.vshsolutions.com/wp-content/uploads/2020/02/recommender-system-for-movie-recommendation.jpg" class="card-img-top"
            alt="..."> 
          <div class="card-body">
            <h5 style="color: black;"  class="card-title">Movie Recommendation System</h5>
            <a style="display: inline;" href="https://movie-recommendor-system1.herokuapp.com/" target="_blank" class="btn-sm btn-primary mt-5">Launch</a>
            <a style="display: inline;" href="https://github.com/Taranjeet105/TextAnalyzer" target="_blank" rel="noopener noreferrer"><img style="    width: 30px;
            height: 30px;" 
            src="https://www.freeiconspng.com/thumbs/github-icon/git-github-hub-icon-25.png" alt=""></a> 
            
            <i> <h5 style="display: inline;"><span class="badge bg-secondary">streamlit</span></h5>  <h5 style="display: inline;"><span  class="badge bg-secondary">Pandas</span></h5>  <h5 style="display: inline;"><span class="badge bg-secondary">numpy</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">nltk</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">CountVectorizer</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">cosine_similarity</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">pickle</span></h5></i>
            <p class="card-text">It is a machine learning based movie recommendation system. </p>
            <ul>
              <li>User friedly GUI</li>
            <li>Enter the name of the movie</li>    
            <li>Get five movies related to the entered movie</li>
            </ul>
          
          </div>
        </div>

        <div class="card" style="width: 22rem;
        height: 35rem;">
          <img  src="../compiler.jpg" class="card-img-top"
            alt="..."> 
          <div class="card-body">
            <h5 style="color: black;"  class="card-title">Text analyzer</h5>
            <a style="display: inline;" href="https://coders-compiler.herokuapp.com/" target="_blank" class="btn-sm btn-primary mt-5">Launch</a>
            <a style="display: inline;" href="https://github.com/Taranjeet105/Coders-Compiler" target="_blank" rel="noopener noreferrer"><img style="    width: 30px;
            height: 30px;" 
            src="https://www.freeiconspng.com/thumbs/github-icon/git-github-hub-icon-25.png" alt=""></a> 
            
            <i> <h5 style="display: inline;"><span class="badge bg-secondary">HTML</span></h5>  <h5 style="display: inline;"><span  class="badge bg-secondary">CSS</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Bootstrap</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">JavaScript</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Reactjs</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Nodejs</span></h5> <h5 style="display: inline;"><span class="badge bg-secondary">Expressjs</span></h5><h5 style="display: inline;"><span class="badge bg-secondary">Ace editor</span></h5><h5 style="display: inline;"><span class="badge bg-secondary">React-sketch-pad</span></h5></i>
            <p class="card-text">User friendly web app for coding practice:
              <ul>
                <li>Code Editor for better coding experience</li>
                <li>React sketch pad to make understaing with code</li>
                <li>Console provided to give input and get results of code</li>
         
              </ul>
              
          
            
          </div>
        </div>



      </div>

    </div>
  
    <hr>

    <!-- Contact Me Section -->
    <div style="height: 100vh; width: 100vw;" class="container Contact" id="contact">
      <div class="flex-container2">
        <div class="askme" style="flex-grow: 2;">
          <h4 style="text-align: center;">Contact Me</h4>

          <div id="messageStatus" class="alert alert-dismissible fade show" role="alert" style="display: none;">
            <span id="status"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <form id="myform">
            <div class="mb-3">
              <img src="https://marcos0901.herokuapp.com/assets/icons8-gmail.svg" alt=""
              style="width: 20px; height: 20px; float: left;margin-right: 2px;">
              <label for="exampleInputEmail1" class="form-label">Email address</label>

              <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Name</label>
              <input type="text" class="form-control" name="name" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Message</label>
              <textarea name="message" id="" cols="30" rows="5" class="form-control"
                id="exampleInputPassword1"></textarea>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>

        <div class="mycontactinfo" style="padding: 28px; padding-left: 89px; flex-grow: 2; flex-shrink: 2;">

          <div class="flex-vertical">
            <img src="https://marcos0901.herokuapp.com/assets/telephone.png" alt=""
              style="height: 35px; width: 35px; margin: auto; ">
            <div class="flex-container">

              <h4 style="text-align: center;">(+91) 7982959272</h4>
            </div>
            <p style=" font-size: small; text-align: center;">Mobile (personal)</p>
            <img src="https://marcos0901.herokuapp.com/assets/icons8-gmail.svg" alt=""
              style=" height: 35px; width: 35px; margin: auto;">
            <div class="flex-container">

              <h4 style="text-align: center;">shantys502@gmail.com</h4>
            </div>
            <p style=" font-size: small; text-align: center;">Gmail (personal)</p>
          </div>

        </div>

      </div>
    </div>

    <hr>

  </div>



  <!-- java sctipts -->
  <script>

    document.getElementById("myform").onsubmit = (e) => {
      e.preventDefault()
      console.log(e.target)
      let url = "https://taranjeet-portfolio.herokuapp.com/contact"
      let data = new URLSearchParams()

      for (const pair of new FormData(e.target)) {

        data.append(pair[0], pair[1])
      }
      fetch(url, {
        method: "post",
        body: data,
      
      }).then(res => res.json())
        .then(result => {
          console.log(result)
          if (result.success == true) {
            document.getElementById("messageStatus").style.display = "block";

            document.getElementById("messageStatus").classList.add('alert-success');
            document.getElementById('status').innerText = "message sent succesfully"

            // location.reload()
          } else {

            document.getElementById("messageStatus").style.display = "block";

            document.getElementById("messageStatus").classList.add('alert-danger');
            document.getElementById('status').innerText = "Error in sending message"

          }

        }).catch(err => console.log(err))

    }



  </script>


  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>